<aside class="uk-width-1-1">
	<h1 class="uk-heading-line uk-text-center">
		Espace Admin
	</h1>
	<nav class="uk-navbar">
		<ul class="uk-nav uk-nav-default">
			<li>
				<a href='/' target="_blank">Home</a>
			</li>
			<li>
				<a href='/admin/dashboard'>Dashboard</a>
			</li>
			<li>
				<a href='/admin/prestations'>Gestion des prestations</a>
			</li>
			<li>
				<a href='/admin/dashboard'>Gestion des clients</a>
			</li>
			<li>
				<a href='/admin/reservations'>Gestion réservations</a>
			</li>
			<li>
				<a href='/logout'>Logout</a>
			</li>
		</ul>
	</nav>
</aside>
