<ul>
    <li><a href='/admin/dashboard'>Dashboard</a></li>
    <li><a href='/admin/dashboard'>Gestion des menus</a></li>
    <li><a href='/admin/dashboard'>Gestion des clients</a></li>
    <li><a href='/admin/dashboard'>Gestion des commandes</a></li>
    <li><a href='/logout'>Logout</a></li>
</ul>