<ul>
    <li><a href='/' class="yk-horizontale-menu" target="_blank">Home</a></li>
    <li><a href='/admin/dashboard' class="yk-horizontale-menu">Dashboard</a></li>
    <li><a href='/admin/prestations' class="yk-horizontale-menu">Gestion des prestations</a></li>
    <li><a href='/admin/dashboard' class="yk-horizontale-menu">Gestion des menus</a></li>
    <li><a href='/admin/dashboard' class="yk-horizontale-menu">Gestion des clients</a></li>
    <li><a href='/admin/dashboard' class="yk-horizontale-menu">Gestion des commandes</a></li>
    <li><a href='/logout' class="yk-horizontale-menu">Logout</a></li>
</ul>