{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
{% endblock %}

{% block content %}
    <h1>Bienvenue sur Stras Dom</h1>

    <swiper-container class="mySwiper" pagination="true" pagination-dynamic-bullets="true"
    autoplay-delay="2500" autoplay-disable-on-interaction="false" >
    <swiper-slide><img src="/assets/images/aide-a-domicile3.jpg" alt="aide a domicile" /></swiper-slide>
    <swiper-slide><img src="/assets/images/aide-domicile.2.jpg" alt="aide a domicile" /></swiper-slide>
    <swiper-slide><img src="/assets/images/Aide-domicile.jpg" alt="aide a domicile" /></swiper-slide>
    <swiper-slide><img src="/assets/images/L-aide-a-domicile6.jpg" alt="aide a domicile" /></swiper-slide>
  </swiper-container>
   
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
{% endblock %}
