.uk-navbar {
    padding-left: 1rem;
    padding-right: 1rem;
}  

.uk-navbar a, .uk-navbar li a {
    color: white;
    font-family: var(--font-familary-primary) ;

}

.vr-navbar-background {
    background-color: var(--primary) !important;
}