{% extends 'admin.html.twig' %}

{% block content %}
    {% include 'Admin/Prestations/_form.html.twig' %}
    <a class="uk-button uk-button-secondary" href="/admin/prestations">Toutes les annonces</a>
{% endblock %}