<nav class="uk-navbar-container uk-navbar vr-navbar-background">
	<div class="uk-navbar-left">
		<a class="uk-navbar-item uk-logo" href="/" aria-label="Back to Home">Stras'Dom</a>
	</div>
	<div class="uk-navbar-right">
		<ul class="uk-navbar-nav">
			<li>
				<a href="/service">Prestation</a>
			</li>
			<li class="uk-parent">
				<a href="/devis">Demandez un devis</a>
			</li>
			{% if session.isLogin == true %}
				<li uk-dropnav="mode: click">
					<a href="">Mon Compte
						<span uk-icon="icon: triangle-down"></span>
					</a>
					<div class="uk-dropdown dropdown">
						<ul class="uk-nav uk-dropdown-nav">
							{% if session.isAdmin == 1 %}
								<li>
									<a href="/admin/dashboard">Dashboard</a>
								</li>
							{% endif %}
							<li>
								<a href="/logout">Logout</a>
							</li>
						</ul>
					</div>
				</li>
			{% else %}
				<li>
					<a href="/connexion">Connexion</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
