{% extends 'layout.html.twig' %}

{% block content %}

<div class="uk-child-width-1-2@m uk-grid uk-grid-column-large uk-grid-row-large" data>
{% for service in services %}
    <a href="/service/show?id={{ service.id }}"/>
        <div class="uk-inline uk-image-container">
            <img src="{{ service.image }}" alt="">
             <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                <p>{{ service.name }}</p>
            </div>
        </div>
    </a>  
 {% endfor %}   
</div>
    
{% endblock %}